<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">  

<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>Reported books</h1>
        <div class="row">
          {{#each reportlists}}
          <div class=" col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = "/admin/{{id}}"><img src={{Book.imagePath}} alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="/admin/{{id}}">{{Book.title}}</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">${{Book.price}}</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="/admin/{{id}}">{{Book.author}}</a>
                  </span>
                </p>
                <div class="text_report">
                <p>"{{content}}" - Reported by {{User.username}}</p>
                </div>
                <div class="action-buttons">
                  <button class="accept-btn">Ban</button>
                  <button class="remove-btn">Remove</button>
              </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
      {{!-- </div>
    </div> --}}
  </div>
</section><!--/.explore-->
