<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/book.css">  

<section class="explore">
  <div class="container">
    <div class="explore-content">

      <div class="product-head">
        <h1>New post</h1>
        <div class="row">
          {{#each waitingbooks}}
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = #!><img src={{imagePath}} alt="explore image"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#!">{{title}}</a></h2>
                <p class="explore-rating-price">
                  <a href="shop.html">{{owner}}</a>   <!-- shop name -->
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">${{price}}</span>
                  </span>
                  <a  href="#!">{{author}}</a>
                </p>
                <div class="text_report">
                <p>{{description}}</p>
                </div>
              </div>
              <div class="action-buttons">
                <button class="accept-btn">Accept</button>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
          </div>
          {{/each}}

        </div>
          
      </div>
    </div>
  </div>    
</section><!--/.explore-->
