<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/productpage.css">
<link rel="stylesheet" href="/css/book.css">		

<div class="container">
	<div class = "card-wrapper">
		<div class = "card">
			{{#with book}}
			<!-- card left -->
			<div class = "product-imgs">
			<div class = "img-display">
				<div class = "img-showcase">
				<img src = {{imagePath}} alt = "shoe image">
				<img src = {{imagePath}} alt = "shoe image">
				<img src = {{imagePath}} alt = "shoe image">
				<img src = {{imagePath}} alt = "shoe image">
				</div>
			</div>
			<div class = "img-select">
				<div class = "img-item">
				<a href = "#" data-id = "1">
					<img src = {{imagePath}} alt = "shoe image">
				</a>
				</div>
				<div class = "img-item">
				<a href = "#" data-id = "2">
					<img src = {{imagePath}} alt = "shoe image">
				</a>
				</div>
				<div class = "img-item">
				<a href = "#" data-id = "3">
					<img src = {{imagePath}} alt = "shoe image">
				</a>
				</div>
				<div class = "img-item">
				<a href = "#" data-id = "4">
					<img src = {{imagePath}} alt = "shoe image">
				</a>
				</div>
			</div>
			</div>
			<!-- card right -->
			<div class = "product-content">
			<h2 class = "product-title">{{title}}<button onclick="addWishlist('{{../userid}}','{{id}}')" type="button" class="btn"><i class="fa fa-heart"></i></button><button type="button" class="btn"><i class="fa-solid fa-ban"></i></button></h2>
			<a href = "shop.html" class = "product-link">Store</a>

			<div class = "product-price">
				<p class = "new-price">Price: <span>${{price}}</span></p>
			</div>
	
			<div class = "product-detail">
				<h2>about this book: </h2>
				<p>
					{{description}}
				</p>
				<ul>
				<li>Author: <span>{{author}}</span></li>
				<li>Published: <span>Unknown</span></li>
				</ul>
			</div>
	
			<div class = "purchase-info">
				<!-- <input type = "number" min = "0" value = "1"> -->
				<button type = "button" class = "btn" onclick="addCart('{{../userid}}','{{id}}')">
				Add to Cart <i class = "fas fa-shopping-cart"></i>
				</button>
				<button type = "button" class = "btn">Buy now</button>
				<button type = "button" class = "btn">Download</button>
				<button type = "button" class = "btn">Read online</button>
			</div>
	
			<div class = "social-links">
				<p>Share At: </p>
				<a href = "#">
				<i class = "fab fa-facebook-f"></i>
				</a>
				<a href = "#">
				<i class = "fab fa-twitter"></i>
				</a>
				<a href = "#">
				<i class = "fab fa-instagram"></i>
				</a>
				<a href = "#">
				<i class = "fab fa-whatsapp"></i>
				</a>
				<a href = "#">
				<i class = "fab fa-pinterest"></i>
				</a>
			</div>
			</div>
			{{/with}}
		</div>
		</div>
</div>

<div class="container">
	<section class="explore">
		<div class="container">
			<div class="product-head"><h1>Comment</h1></div>
<div class="comment-sesion">
	<div class="post-comment">
		{{#each reviews}}
		<div class="comment-list">
			<div class="flex">
				<div class="user">
					<div class="user-image"><img src={{User.imagePath}} alt=""></div>
						<div class="user-meta">
							<div class="name">{{User.username}}</div>
							<div class="day">{{showDate createdAt}}</div>
						</div>
				</div>
					<!-- <div class="reply">
						<div class="lick icon"><i class="fa fa-thumbs-o-up"></i></div>
						<div class="dislick icon"><i class="fa fa-thumbs-o-down"></i></div>
						<div class="re-comment">Reply</div>
					</div> -->
			</div>
				<div class="comment">
					{{content}}
				</div>
		</div>
		{{/each}}
			<form action="" class="comment-box">
				{{#with user}}
				<div class="user">
					<div class="img-u"><img src={{imagePath}} alt=""></div>
					<div class="name">{{username}}</div>
				</div>
				<textarea name="comment"></textarea><div class="row"></div>
				<button class="comment-submit">Comment</button>
				{{/with}}
			</form>
		</div>
	</div>
</div>
</div>

<div class="container">
	<section class="explore">
		<div class="container">
			<div class="explore-content">
			<div class="product-head">
				<h1>Reccomend books</h1>
				<div class="row">
				<div class=" col">
					<div class="single-explore-item">
					<div class="single-explore-img">
						<img src="/img/explore/e1.jpg" alt="explore image">
					</div>
					<div class="single-explore-txt bg-theme-5">
						<h2><a href="#!">you want it darker</a></h2>
						<p class="explore-rating-price">
						<span class="explore-price-box">
							price:
							<span class="explore-price">10$</span>
						</span>
						<span class="explore-price-genne">
							novel
						</span>
						<a  href="#!">leonard cohen</a>
						</span>
						</p>
					</div>
					</div>
				</div>
				<div class=" col">
					<div class="single-explore-item">
						<div class="single-explore-img">
						<img src="/img/explore/e1.jpg" alt="explore image">
						</div>
						<div class="single-explore-txt bg-theme-5">
						<h2><a href="#!">you want it darker</a></h2>
						<p class="explore-rating-price">
							<span class="explore-price-box">
							price:
							<span class="explore-price">10$</span>
							</span>
							<span class="explore-price-genne">
							novel
							</span>
							<a  href="#!">leonard cohen</a>
							</span>
						</p>
						</div>
					</div>
					</div>
					<div class=" col">
					<div class="single-explore-item">
						<div class="single-explore-img">
						<img src="/img/explore/e1.jpg" alt="explore image">
						</div>
						<div class="single-explore-txt bg-theme-5">
						<h2><a href="#!">you want it darker</a></h2>
						<p class="explore-rating-price">
							<span class="explore-price-box">
							price:
							<span class="explore-price">10$</span>
							</span>
							<span class="explore-price-genne">
							novel
							</span>
							<a  href="#!">leonard cohen</a>
							</span>
						</p>
						</div>
					</div>
					</div>
	
				<div class=" col">
					<div class="single-explore-item">
					<div class="single-explore-img">
						<img src="/img/explore/e2.jpg" alt="explore image">
					</div>
					<div class="single-explore-txt bg-theme-5">
						<h2><a href="#!">Omestic Reader Overview</a></h2>
						<p class="explore-rating-price">
						<span class="explore-price-box">
							price:
							<span class="explore-price">10$</span>
						</span>
						<span class="explore-price-genne">
							novel
						</span>
						<a  href="#!">leonard cohen</a>
						</span>
						</p>
					</div>
					</div>
				</div>
	
				<div class=" col">
					<div class="single-explore-item">
					<div class="single-explore-img">
						<img src="/img/book2.jpg" alt="explore image">
					</div>
					<div class="single-explore-txt bg-theme-5">
						<h2><a href="#!">bungou stray dogs: BEAST</a></h2>
						<p class="explore-rating-price">
						<span class="explore-price-box">
							price:
							<span class="explore-price">10$</span>
						</span>
						<span class="explore-price-genne">
							novel
						</span>
						<a  href="#!">asagiri kafka</a>
						</p>
					</div>
					</div>
				</div>
				</div>
			</div>
	
			</div>
		</div>
		</section><!--/.explore-->
</div>