<link rel="stylesheet" href="/css/book.css">
<link rel="stylesheet" href="/css/header.css">

<section class="explore">
  <div class="container">
    <div class="explore-content">
      
      <div class="space"></div>
      <div class="product-head">
        <h1>Wishlist</h1>
       <div class="row row-cols-5">
          {{#each wishlistbooks}}
          <div class="col">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <a href = "/{{../userid}}/details/{{id}}"><img src={{imagePath}} alt="/img/logoicon.png"></a>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="/{{../userid}}/details/{{id}}">{{title}}</a><button onclick="removeWishlist('{{../userid}}','{{id}}')" type="button" class="btn"><i class="fa fa-heart-broken"></i></button></h2>
                <p class="explore-rating-price">
                  <span class="explore-price-box">
                    price:
                    <span class="explore-price">{{price}}$</span>
                  </span>
                  <span class="explore-price-genne">
                    novel
                  </span>
                  <a  href="/{{../userid}}/details/{{id}}">{{author}}</a>
                  </span>
                </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    
    </div>
  </div>
</section>
