  <div class="container">
    <div class="product-head">
      <div class="row">
        <div class="col-md-4 col-sm-6">
{{!-- Here --}}
            {{#each _book}}
            <div class=" col-md-4 col-sm-6">
              <div class="single-explore-item">
                <div class="single-explore-img">
                  {{!-- <a href = #!><img src="/scr/img/explore/e1.jpg" alt="explore image"></a> --}}
                  <a href = "/productpage/{{id}}"><img src="{{imagePath}}" alt="{{altImage}}"></a>
                </div>
                <div class="single-explore-txt bg-theme-5">
                  <h2><a href="/productpage/{{bookid}}">{{title}}</a></h2>
                  <p class="explore-rating-price">
                    <span class="explore-rating">{{rate}}</span>
                    <a href="/productpage/{{bookid}}">{{rate.length}} ratings</a> 
                    <span class="explore-price-box">
                      Price: <span class="explore-price">{{price}}$</span>
                    </span>
                    {{!-- <span class="explore-price-genne"> {{booktype}} </span> --}}
                    <a  href="tacgia">{{author}} </a>
                    <a  href="/shop/{{shopid}}">{{shop}} </a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            {{/each}}

      </div>
    </div>
  </div>
